@document.title = Parsing Tests

<article>
	<h1>@document.title</h1>

	<section>
		<h1>No-Parse Block</h1>
		
		@testVariable = TEST FAILED
		
		@sight.parser.off
			@testVariable
		@sight.parser.on
		
		<p>If you see "@testVariable" above, the test has failed.  If you see "@@testVariable", the test has passed.</p>
		
	</section>

	<section>
		<h1>@@if Statement Tests</h1>

		<section>
			<h1>Comparing Variable Equality</h1>

			<section>
				<h1>Variables Are Equal</h1>

				@var2 = @var1

				<ol>
					<li>
						@if (@var1 == @var2) passed
					</li>
					<li>
						@if(@var1==@var2) @{ passed @}
					</li>
					<li>
						@if(@var2==@var1) @{ passed @} @else @{ failed @}
					</li>
					<li>
						@if      (@var1     ==       @var2) @{ passed
						@} @else @{ 
							failed @}
					</li>
					<li>
						@if(@true) @{ passed @}
					</li>
					<li>
						@if(@true==true) @{ passed @}
					</li>
				</ol>
			</section>

			<section>
				<h1>Variables Aren't Equal</h1>

				@var2 = not @var1

				<ol>
					<li>
						@if (@var1 == @var2) @{failed@}@else@{passed@}
					</li>
					<li>
						@if(@var1==var2) @{ 
							failed @} @else @{ passed @}
					</li>
					<li>
						@if(@false) @{
							failed
						@} @else @{
							passed
						@}
					</li>
					<li>
						@if(@false==true) @{
							failed
						@} @else @{
							passed
						@}
					</li>
					<li>
						@if(@false==asdf) @{ failed @} @else @{ passed @}
					</li>
					<li>
						@if(@true==2) @{ failed @} @else @{ passed @}
					</li>
				</ol>
			</section>			
		</section>

	</section>

</article>

